.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo {
  font-size: 28px;
  font-family: "Press Start 2P", sans-serif;
  text-shadow: 2px 2px 0px rgba(139, 231, 74, 1);
}

@media screen and (max-width: 768px) {
  .nav {
    flex-wrap: wrap;
  }
  .logo {
    order: 1;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
}
